
#u949-7,#u1011-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1012-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1013-4,#u1014-4
{
	font-family: open-sans-n3, sans-serif;
}

#u709-4,#u985-4,#u992-4,#u998-4,#u953-13
{
	font-family: open-sans-n3, sans-serif;
}

