
#u948-7,#u1007-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1008-4,#u1009-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1010-4
{
	font-family: open-sans-n3, sans-serif;
}

#u663-69,#u952-13
{
	font-family: open-sans-n3, sans-serif;
}

