
#u950-7,#u1015-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1016-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1017-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1018-4,#u767-4,#u789-4,#u793-4,#u823-4
{
	font-family: open-sans-n3, sans-serif;
}

#u827-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1025-4,#u954-13
{
	font-family: open-sans-n3, sans-serif;
}

