.version.index /* version checker */
{
	color: #0000ED;
	background-color: #CD4D99;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 738px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -51px;
	padding-top: 3px;
	width: 0.01px;/* should not cover content below */
}

#pu943-7
{
	width: 0.01px;
	margin-left: 20px;
}

#u943-7
{
	z-index: 133;
	width: 299px;
	min-height: 80px;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u943-7.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 80px;
	width: 299px;
	margin: 0px -10000px 0px 0px;
}

#u943-3
{
	font-size: 40px;
	line-height: 48px;
}

#u943
{
	color: #54B11C;
}

#u943-5
{
	font-size: 10px;
	line-height: 12px;
	color: #CDCDCD;
}

#u602-4
{
	z-index: 3;
	width: 78px;
	min-height: 42px;
	background-color: transparent;
	color: #CDCDCD;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 591px;
}

#u602-4.MuseLinkActive p
{
	color: #CDCDCD;
	visibility: inherit;
	text-align: center;
	text-indent: 0px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u603-4
{
	z-index: 7;
	width: 78px;
	min-height: 42px;
	background-color: transparent;
	color: #CDCDCD;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 669px;
}

#u604-4
{
	z-index: 11;
	width: 95px;
	min-height: 42px;
	background-color: transparent;
	color: #CDCDCD;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 747px;
}

#u604-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 42px;
	width: 95px;
	margin: 17px -10000px 0px 0px;
}

#u605-4
{
	z-index: 15;
	width: 78px;
	min-height: 42px;
	background-color: transparent;
	color: #CDCDCD;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 842px;
}

#u602-4.MuseLinkActive,#u603-4:hover,#u605-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 42px;
	width: 78px;
	margin: 17px -10000px 0px 0px;
}

#u603-4:hover p,#u604-4:hover p,#u605-4:hover p
{
	color: #68DA2D;
	visibility: inherit;
}

#pu958
{
	width: 0.01px;
	margin-left: 163px;
	margin-top: 26px;
}

#u958
{
	z-index: 2;
	width: 200px;
	min-height: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 186px;
	left: 697px;
}

#u606
{
	z-index: 19;
	width: 633px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u104-6
{
	z-index: 21;
	width: 46px;
	min-height: 39px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 53px;
	left: 237px;
}

#u103-5
{
	z-index: 27;
	width: 154px;
	min-height: 48px;
	background-color: transparent;
	color: #323232;
	line-height: 22px;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 48px;
	left: 47px;
}

#u943-2,#u103
{
	color: #FFFFFF;
}

#u107-5
{
	z-index: 32;
	width: 245px;
	min-height: 120px;
	background-color: transparent;
	color: #191919;
	text-align: justify;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 112px;
	left: 34px;
}

#u109-4
{
	z-index: 37;
	width: 168px;
	min-height: 48px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 22px;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 48px;
	left: 360px;
}

#u110-19
{
	z-index: 41;
	width: 241px;
	min-height: 152px;
	background-color: transparent;
	color: #191919;
	font-size: 14px;
	text-align: justify;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 112px;
	left: 352px;
}

#u117-4
{
	z-index: 60;
	width: 143px;
	min-height: 48px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 22px;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 341px;
	left: 47px;
}

#u120-29
{
	z-index: 64;
	width: 245px;
	min-height: 169px;
	background-color: transparent;
	color: #191919;
	text-align: justify;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 403px;
	left: 34px;
}

#u110-10,#u120-8,#u120-13,#u120-20
{
	font-weight: 300;
}

#u122-4
{
	z-index: 93;
	width: 161px;
	min-height: 48px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 22px;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 342px;
	left: 360px;
}

#u103-3,#u109-2,#u117-2,#u122-2
{
	padding-top: 12px;
}

#u124-6
{
	z-index: 97;
	width: 89px;
	min-height: 34px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 14px;
	font-size: 12px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 351px;
	left: 515px;
}

#u124-4
{
	text-indent: 5px;
}

#u123-5
{
	z-index: 103;
	width: 241px;
	min-height: 73px;
	background-color: transparent;
	color: #191919;
	text-align: justify;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 402px;
	left: 352px;
}

#u107,#u110,#u110-3,#u110-5,#u110-7,#u110-9,#u110-12,#u110-14,#u110-16,#u120,#u120-3,#u120-5,#u120-7,#u120-10,#u120-12,#u120-15,#u120-17,#u120-19,#u120-22,#u120-24,#u120-26,#u123
{
	font-weight: 400;
}

#u614-6
{
	z-index: 108;
	width: 46px;
	min-height: 39px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 53px;
	left: 551px;
}

#u104-2,#u614-2
{
	font-size: 18px;
	line-height: 22px;
	text-indent: 10px;
}

#u616-6
{
	z-index: 114;
	width: 46px;
	min-height: 39px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 346px;
	left: 237px;
}

#u616-2
{
	font-size: 18px;
	line-height: 22px;
	text-indent: 4px;
}

#u104-4,#u614-4,#u616-4
{
	font-size: 11px;
	line-height: 13px;
}

#u617-13
{
	z-index: 120;
	width: 353px;
	min-height: 40px;
	background-color: transparent;
	color: #CDCDCD;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 310px;
	margin-top: 63px;
	position: relative;
}

#u617-3
{
	padding-top: 2px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u617
{
	line-height: 17px;
}

#u617-2,#u617-10
{
	font-size: 12px;
	line-height: 14px;
}

.html
{
	background: #000000 url("../images/9.jpg") repeat center center fixed;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 37px;
	padding-bottom: 53px;
}

